html {
    background-color: #000000;
    color: #ffffff;
    font-size: 165%;
    font-family: monospace;
    margin: 0 auto !important;
}
.ets2-button-panel {
    padding-top: 70px;
}
button {
    border-style: outset;
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    width: 186px;
    border-radius: 5px;
}
button:active, button:hover, button:focus {
    border-style: inset;
}
.left-button {
    border-style: solid;
    width: 170px;
    border-color: #ffffff;
    border-width: 2px;
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 110px;
    position: fixed;
    left: 0;
    height: 50px;
    line-height: 4px;
    box-sizing: border-box;
}
.right-button {
    border-style: solid;
    width: 170px;
    border-color: #ffffff;
    border-width: 2px;
    margin-right: -4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 110px;
    position: fixed;
    right: 0;
    height: 50px;
    line-height: 4px;
    box-sizing: border-box;
}
.right-button-2 {
    margin-top: 165px;
}
.right-button-3 {
    margin-top: 220px;
}
.right-button-4 {
    margin-top: 275px;
}
.right-button-5 {
    margin-top: 330px;
}
.right-button-6 {
    margin-top: 385px;
}
.right-button-7 {
    margin-top: 440px;
}
.button-chartreuse {
    background-color:chartreuse;
}
.button-steelblue {
    background-color: steelblue;
}
.button-orangered {
    background-color: orangered;
}
.button-lightgreen {
    background-color: lightgreen;
    color: #000000;
}
.button-red {
    background-color: red;
}
.button-green {
    background-color: green;
}
.button-orange {
    background-color: orange;
}
.button-blue {
    background-color: blue;
}
.button-yellow {
    background-color: yellow;
}
.button-yellowgreen {
    background-color: yellowgreen;
}
.button-darkgoldenrod {
    background-color: orangered;
}
#ets2-null {
    background-color: grey;
}
.left {
    position: fixed;
    left: 0;
    padding-left: 15px;
}
.center{
    text-align: center;
}
.right {
    position: fixed;
    right: 0;
    padding-right: 15px;
    text-align: right;
}
.pad {
    padding-top: 32px;
}
.ets2-navigation-estimatedTime {
    margin-top: -23px;
}
.ets2-ui-wear {
    margin-top: -24px;
    margin-left: 19%;
    height: 525px;
    width: 500px;
    border-radius: 5px;
}
.ets2-ui-wear-title {
    margin-top: 50px;
    padding-top: 70px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.ets2-truck-wear {
    text-align: center;
}
.ets2-cargo-cargo {
    padding-left: 5px;
    text-align: center;
}
.ets2-events {
    border-radius: 5px;
    margin-top: -5px;
    position: fixed;
    padding-bottom: 25px;
    padding-left: 20px;
    height: 40px;
    width: 95.7%;
    background-color: darkmagenta;
}
.ets2-events-p {
    font-weight: bold;
    text-align: center;
}
.ets2-paused {
    text-align: center;
    font-size: 120%;
    margin-top: 260px;
}
.ets2-truck-license {
    position: fixed;
    margin-top: -10px;
}
.ets2-trailer-plate {
    position: fixed;
    margin-top: -755px;
    padding-left: 7px;
    text-align: center;
}
.ets2-big-parking {
    position: fixed;
    margin-top: -40px;
    width: 98.2%;
    height: 100px;
    font-weight: bold;
}
.ets2-truck-fueltank {
    position: fixed;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background-color: silver;
    color: silver;
    width: 50px;
    height: 380px;
    margin-top: 110px;
    margin-left: 195px;
    border-radius: 5px;
    border-style: inset;
    border-color: silver;
}
.ets2-truck-airtank {
    position: fixed;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background-color: grey;
    color: grey;
    width: 50px;
    height: 380px;
    margin-top: 110px;
    margin-left: 540px;
    border-radius: 5px;
    border-style: inset;
    border-color: grey;
}
.ets2-truck-fuelvalue {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background-color: darkcyan;
    color: darkcyan;
    width: 50px;
    height: 0%;
    margin-top: -24px;
    border-radius: 5px;
    border-style: none;
}
.ets2-truck-airvalue {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background-color: whitesmoke;
    color: whitesmoke;
    width: 50px;
    height: 50%;
    margin-top: -24px;
    border-radius: 5px;
    border-style: none;
}
